* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #fdfbf7;
    overflow-x: hidden;
    min-height: 100%;
}

html,
body {
    height: 100%;
}

.container {
    position: relative;
    z-index: 1;
    width: 100%;
    margin: 0 auto;
}

/* Хеддер */

header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    background-color: rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(20px);
    border-bottom: 1px solid rgb(0, 0, 0, 0.05);
    padding-left: 100px;
    padding-right: 100px;
    text-decoration: none;
    z-index: 100;
}

header .logo {
    font-size: 28px;
    font-weight: 700;
    color: #171a1f;
    opacity: 0.7;
    letter-spacing: 2px;
    text-decoration: none;
    transition: opacity 0.3s ease, color 0.4s ease;
}

.logo:hover {
    opacity: 1;
    color: #b33939;
}

header .theme-toggle-label {
    width: 50px;
    height: 26px;
    background: #0f1114;
    border-radius: 50px;
    position: relative;
    margin-right: 20px;
    cursor: pointer;
    align-self: center;
}

.theme-toggle-label::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 22px;
    height: 22px;
    background: #fdfbf7;
    border-radius: 50px;
    transition: 0.3s;
}

header nav {
    display: flex;
    gap: 30px;
}

header nav a {
    color: #0f1114;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    position: relative;
    transition: color 0.3s;
    opacity: 0.7;
    align-content: center;
    padding: 5px;
    transition: opacity 0.3s ease, background 0.3s ease, color 0.3s;
}

nav a:hover {
    background: rgba(179, 57, 57, 1);
    color: white;
    opacity: 1;
}

nav a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background: #b33939;
    transition: width 0.3s;
}

nav a:hover::after {
    width: 100%;
}

/* Мэин */

.hero {
    background-image: url("public/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    user-select: none;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 101%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(253, 251, 247));
    z-index: 1;
}

.hero::after {
    content: "";
    position: absolute;
    inset: 0;
    background: inherit;
    filter: blur(3px);
    z-index: 0;
}

.hero-heading {
    color: white;
    position: relative;
    z-index: 1;
}

.hero-heading h1 {
    font-size: 72px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

.hero-heading p {
    font-size: 32px;
    text-align: center;
    margin-bottom: 30px;
}

.hero-fix-btn {
    display: inline-block;
    padding: 15px 40px;
    background: #b33939;
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
    border-radius: 0;
    overflow: hidden;
    position: relative;
    text-shadow: 0, 10px, 20px rgba(0, 0, 0, 0.2);
    transition: all 0.4s ease;
}

.hero-fix-btn:hover {
    background: #303640;
    transform: translateY(-5px);
    text-shadow: 0, 20px, 40px rgba(0, 0, 0, 0.4);
}

a.hero-fix-btn {
    color: white;
}

/* Хиро-Абаут */

.hero-about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-items: center;
    position: relative;
    width: 100%;
    min-height: 80vh;
    background-color: rgba(255, 255, 255, 0.3);
    color: #0f1114;
    padding-left: 300px;
}

.hero-about-container {
    width: 500px;
}

.hero-about-container h2 {
    color: #0f1114;
    font-size: 48px;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 20px;
}

.hero-about-container h2::after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background: linear-gradient(
      135deg,
      rgba(179, 57, 57),
      rgba(56, 189, 248, 0.7)
    );
    margin: 20px auto 0;
}

.hero-about-container p {
    color: #0f1114;
    font-size: 17px;
    max-width: 700px;
    white-space: pre-line;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: left;
    line-height: 24px;
}

.hero-about-visual {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
    align-items: center;
    max-width: 90%;
}

.visual-box {
    position: relative;
    width: 100%;
    height: 320px;
    border-radius: 16px;
    overflow: hidden;
    transition: transform 0.5s ease;
}

.visual-box::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
        135deg,
      #38bdf8,
      #8b5cf6,
      #22c55e
    );
    background-size: 200% 200%;
    transition: opacity 1.5s ease-out;
    z-index: 1;
}

.visual-box:hover {
    transform: scale(1.04);
}

.visual-box::after {
    content: "";
    position: absolute;
    inset: 0;
    opacity: 0;
    background: linear-gradient(
        135deg,
      #b33939,
      #38bff8,
      #22c55e
    );
    background-size: 200% 200%;
    transition: opacity 2s ease-out;
    z-index: 2;
}

.visual-box:hover::after {
    opacity: 1;
    background-position: top bottom;
}

/* Карточки муда */

.cards-mood {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    padding: 40px 25px;
    justify-items: center;
}

.cards-mood .card-motion {
    background: #38bdf8;
    width: 100%;
    max-width: 300px;
    height: 450px;
    align-content: center;
    text-align: center;
    text-decoration: none;
}

.card-motion .overlay {
    background: rgba(255, 255, 255, 0.5);
    width: 250px;
    height: 225px;
    margin: 0 auto;
    color: #0f1114;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease;
    padding: 20px;
}

.card-motion .overlay h3 {
    color: #0f1114;
    font-size: 24px;
    margin-bottom: 5px;
}

.card-motion .overlay p {
    color: #0f1114;
    font-size: 17px;
}

.card-motion:hover .overlay {
    opacity: 1;
}

.card-motion a {
    color: #0f1114;
    text-decoration: none;
}